.container {
  margin: 3% auto;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around; 
}
.button {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  text-align: center;
}
.button * {
  margin: 1px auto;
}

.counter, .stock {
  color: #872325;
  font-weight: 900;
}

.name {
  max-width: 45%;
}

.price {

}