.container { /* stylelint-ignore */
	padding-bottom: 80px;
	color: black;
}

.title {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	color: #312F2F;
}
.title span {
	color: #872325;
	font-weight: 400;
}

.parcel {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: space-between;
}

.footer {
	position: fixed;
	bottom: 0;
	left: 0;
	display: flex;
	flex-flow: row nowrap;
	width: 100%;
	text-align: center;
  color: #CCBEA5;
}
.footer * {
	width: 50%;
	padding: 15px 0;
}
.finish {
	background: #872325;
}
.cancel {
	background: #312F2F;
}