.container { /* stylelint-ignore */
	color: black;
}

.title {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	color: #312F2F;
}
.title span {
	color: #872325;
	font-weight: 400;
}

.parcel {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: space-between;
}