.container {
  height: 75%;
  width: 100%;
  background: #585353;
  border-radius: 20px;
  display: flex;
  align-items: center;
}

.icon {
  margin-left: 10px;
}

.input {
  max-width: 75%;
}

*:focus { 
  outline: none;
}

@media (min-width: 600px) {
  .icon {
    margin-left: 25px;
  }

  .input {
    max-width: none;
    margin-left: 20px;
  }
}